{% extends 'base.html' %}

{% block content %}
  <p>{{wallet}}-wallet addresses:</p>
  {% for address in addresses %}
    <li>
      {{ address }}
      <form method="post" action="{% url 'screener:del_address' address.id %}">
        {% csrf_token %}
        <button onclick="return confirm('Are you sure?')" type="submit">
          Delete
        </button>
      </form>
    </li>
  {% endfor%}
  <ul>
    <p>{{ price }}</p>
  </ul>
  <a href="{% url 'screener:add_address' wallet.id %}">Add new address in {{wallet}}-wallet</a>
{% endblock content%}