{% extends 'base.html' %}
{% block content%}
  <p>Your portfolio</p>
  {% for key, value in wallet_data.items %}
    {{key}}
    {{value}}
  {% endfor %}
<p>TOTAL TOKENS IN YOUR PORTFOLIO: {{ all_amount }}</p>
<!--  {% for i in data %}-->
<!--    <p>{{ i }}</p>-->
<!--  {% endfor %}-->
<!--    {% for keys, values in data.items %}-->
<!--  <ul>-->
<!--    {{ keys }}-->
<!--    <p>{{ values }}</p>-->
<!--  </ul>-->
<!--  {% endfor %}-->
  <a href="{% url 'screener:add_wallet' %}">Add wallet</a>
{% endblock content%}