<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated %}
  Hello, {{ user.username }}
  <form method="post" action="{% url 'users:logout' %}">
      {% csrf_token %}
      <button name="submit">LOG OUT</button>
  </form>
  <p>
    <a href="{% url 'screener:index' %}">Main page</a> |
    <a href="{% url 'screener:portfolio' %}">Your portfolio</a> |
    <a href="{% url 'screener:user_wallets' %}">Wallets</a> |
    <a href="{% url 'screener:about' %}">About</a> |
    <a href="{% url 'screener:contacts' %}">Ours contacts</a> |
    <a href="{% url 'screener:testing' %}">Test</a>

  </p>
{% else %}
  <a href="{% url 'users:login' %}">SIGN IN</a>
{% endif %}
{% block content %}
{% endblock content%}
</body>
</html>